html,body{
    background-color:antiquewhite;
    height:100%;
    margin: 0 auto -30px;
}
li{
    margin:5px;
}

nav{
    background-color:cornsilk;
}
#push,#footer{
height:30px;
text-align:center;
}

#wrap{
    min-height:100%;
    height:auto;
    background-color:aqua;
}