html,body{
    background-color:antiquewhite;
    height:100%;
    margin: 0 auto -30px;
}
li{
    margin:5px;
}

nav{
    background-color:mediumpurple;
}
footer{
height:8vh;
text-align:center;
background-color:darkorchid;
}

#wrap{
    min-height:92vh;
    background-color:aqua;
}